select cast(serverproperty('EngineEdition') as int)
go
IF db_id(N'CustomerManager') IS NOT NULL SELECT 1 ELSE SELECT Count(*) FROM sys.databases WHERE [name]=N'CustomerManager'
go

SELECT Count(*)
FROM INFORMATION_SCHEMA.TABLES AS t
WHERE t.TABLE_SCHEMA + '.' + t.TABLE_NAME IN ('dbo.Customers','dbo.Orders')
    OR t.TABLE_NAME = 'EdmMetadata'
go
IF db_id(N'CustomerManager') IS NOT NULL SELECT 1 ELSE SELECT Count(*) FROM sys.databases WHERE [name]=N'CustomerManager'
go
IF db_id(N'CustomerManager') IS NOT NULL SELECT 1 ELSE SELECT Count(*) FROM sys.databases WHERE [name]=N'CustomerManager'
go
drop database [CustomerManager]
go
create database [CustomerManager]
go
if serverproperty('EngineEdition') <> 5 execute sp_executesql N'alter database [CustomerManager] set read_committed_snapshot on'
go
CREATE TABLE [dbo].[Customers] (
    [CustomerId] [int] NOT NULL IDENTITY,
    [Name] [nvarchar](30) NOT NULL,
    [Email] [nvarchar](100),
    [Age] [int] NOT NULL,
    [Photo] [image],
    CONSTRAINT [PK_dbo.Customers] PRIMARY KEY ([CustomerId])
)
go
CREATE TABLE [dbo].[Orders] (
    [OrderId] [int] NOT NULL IDENTITY,
    [ProductName] [nvarchar](max),
    [Description] [nvarchar](max),
    [Quantity] [int] NOT NULL,
    [PurchaseDate] [datetime] NOT NULL,
    [Customer_CustomerId] [int],
    CONSTRAINT [PK_dbo.Orders] PRIMARY KEY ([OrderId])
)
go
CREATE INDEX [IX_Customer_CustomerId] ON [dbo].[Orders]([Customer_CustomerId])
go
ALTER TABLE [dbo].[Orders] ADD CONSTRAINT [FK_dbo.Orders_dbo.Customers_Customer_CustomerId] FOREIGN KEY ([Customer_CustomerId]) REFERENCES [dbo].[Customers] ([CustomerId])
go
CREATE TABLE [dbo].[__MigrationHistory] (
    [MigrationId] [nvarchar](150) NOT NULL,
    [ContextKey] [nvarchar](300) NOT NULL,
    [Model] [varbinary](max) NOT NULL,
    [ProductVersion] [nvarchar](32) NOT NULL,
    CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY ([MigrationId], [ContextKey])
)
go

go
SELECT 
    [Extent1].[OrderId] AS [OrderId], 
    [Extent1].[ProductName] AS [ProductName], 
    [Extent1].[Description] AS [Description], 
    [Extent1].[Quantity] AS [Quantity], 
    [Extent1].[PurchaseDate] AS [PurchaseDate], 
    [Extent1].[Customer_CustomerId] AS [Customer_CustomerId]
    FROM [dbo].[Orders] AS [Extent1]
go
